<header>
    <div class="top-bar">
        <span class="contact">Contacto : contact&#64;rider-essentials.com</span>
        <span class="brand">Rider Essentials &copy;</span>
        <!-- <p-dropdown
            [options]="languages"
            [(ngModel)]="selectedLanguage"
            optionLabel="name"
            (onChange)="changeLanguage(selectedLanguage.code)">
        </p-dropdown> -->

    </div>
    <div class="main-bar">
        <div class="search-inputs">
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" />
            </p-iconField>
        </div>
        <div class="logo">
            <img src="../../../assets/img/logo3.jpg" alt="payment-methods">
        </div>
        <div class="user-actions">
            <div class="action">
                <i class="mb-3 pi pi-user text-2xl"></i>
                <span>Mi cuenta</span>
            </div>
            <div class="action">
                <i class="mb-3 pi pi-question text-2xl"></i>
                <span>FAQ</span>
            </div>
            <div class="action">
                <i class="mb-3 pi pi-arrow-circle-right text-2xl"></i>
                <span>Caja</span>
            </div>
        </div>
    </div>
    <nav class="navigation">
        <div class="nav-links">
            <a href="#">Catálogo</a>
            <a href="#">Personalizada</a>
            <a href="#">Manga</a>
            <a href="#">Mini</a>
            <a href="#">Accesorios</a>
            <a href="#">Blog</a>
            <a href="#">Contacto</a>
            <a href="#">Reseñas</a>
            <a href="#">afiliato</a>
        </div>
        <div class="cart">
            <span>0.00€</span>
            <i class="mb-3 pi pi-shopping-cart text-2xl"></i>
        </div>
    </nav>
</header>
