<div>
  <app-product-container *ngIf="!loading" [product]="product" ></app-product-container>
  <div *ngIf="loading" class="d-flex justify-content-center spinner-container">
    <span class="spinner-border spinner-border-sm size-spinner"></span>
  </div>
  <br />
  <app-product-list-component *ngIf="!loadingList" [products]="productList" ></app-product-list-component>
  <div *ngIf="loadingList" class="d-flex justify-content-center spinner-container">
    <span class="spinner-border spinner-border-sm size-spinner"></span>
  </div>
</div>