<header>
  <div class="main-bar">
    <div class="logo">
      <a href="/catalog">
        <img src="../../../assets/img/logo3.jpg" alt="payment-methods">
      </a>
    </div>

    <div class="search-inputs">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="{{ 'HEADER.SEARCH_PLACEHOLDER' | translate }}" [(ngModel)]="searchTerm" (ngModelChange)="onSearch(searchTerm)" />
      </p-iconField>
    </div>
    <div class="user-actions">
      <div class="action">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <i class="pi pi-shopping-cart text-2xl"></i>
          <span>{{ 'HEADER.CHECKOUT' | translate }}</span>
        </button>
      </div>
      <div class="dropdown" (click)="toggleDropdown()">
        <button class="dropdown-button">
          <img [src]="'assets/flags/' + selectedLanguage.code + '.png'" class="flag-icon" id="current-flag" />
          <span id="current-language">{{ selectedLanguage.name }}</span>
        </button>
        <div class="dropdown-content" [ngClass]="{'show': dropdownOpen}">
          <a href="#" *ngFor="let language of languages" (click)="selectLanguage(language)">
            <img [src]="'assets/flags/' + language.code + '.png'" class="flag-icon" /> {{ language.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Carrito de Compras</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
  
      <div class="offcanvas-body">
        <div *ngIf="cartItems.length > 0" class="displey-containers">
          <ul class="cart-items">
            <li *ngFor="let item of cartItems" class="cart-item">
              <img [src]="item.image" alt="{{ item.name }}" class="cart-item-image" />
              <div class="cart-item-details">
                <h5 title="{{ item.name }}">{{ item.name.substring(0, 20) }}...</h5> <!-- Tooltip con el nombre completo -->
                <p *ngIf="item.size !== 'X'">Talla: {{ item.size }}</p>
                <p>x {{ item.quantity }}</p>
              </div>
            </li>
          </ul>

          <div>
            <hr>
            <div class="cart-total">
              <button class="btn btn-danger w-20" (click)="cleanShoppingCart()">
                <i class="pi pi-eraser text-2xl"></i>
              </button>
              <h4>Total: {{ convertPrice(totalPrice) }}</h4>
            </div>
            <button type="button" class="btn btn-primary total-price w-100" (click)="proceedToCheckout()">Pagar ahora</button>
          </div>
        </div>
  
        <div *ngIf="cartItems.length === 0">
          <p>Tu carrito está vacío</p>
        </div>
      </div>
    </div>
  </div>  
</header>