@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeicons/primeicons.css";

$primary-color: #000000; // nuevo color primario
$primary-color-dark: #383838;
$seconday-color: #ffffff; // nuevo color secundaria
$seconday-color-hover: #c4c4c4;

.p-datatable .p-datatable-tbody>tr>td,
.p-datatable .p-datatable-thead>tr>th {
  padding: 0.5rem;
}

.p-datatable .p-datatable-tbody>tr>td {
  padding: 0.5rem;
}

.p-autocomplete .p-autocomplete-multiple-container:not(.p-disabled):hover {
  border-color: $seconday-color;
}

.p-autocomplete .p-autocomplete-multiple-container:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: $seconday-color;
}

.p-datepicker .p-datepicker-header .p-datepicker-title select:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: $seconday-color;
}

.p-cascadeselect:not(.p-disabled):hover {
  border-color: $seconday-color-hover;
}

.p-cascadeselect:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: $seconday-color;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: $seconday-color;
  background: $seconday-color;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: $seconday-color-hover;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: $seconday-color;
}

.p-chips .p-chips-multiple-container:not(.p-disabled):hover {
  border-color: $seconday-color-hover;
}

.p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: $seconday-color;
}

.p-dropdown :not(.p-disabled):hover {
  border-color: $seconday-color-hover;
}

.p-dropdown :not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: $seconday-color;
}

.p-inputtext:enabled:hover {
  border-color: $seconday-color-hover;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: $seconday-color;
}

.p-multiselect:not(.p-disabled):hover {
  border-color: $seconday-color-hover;
}

.p-multiselect:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: $seconday-color;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: $seconday-color-hover;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: $seconday-color;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: $seconday-color;
  background: $seconday-color;
}

.p-slider .p-slider-handle {
  border-color: $seconday-color;
}

.p-slider .p-slider-range {
  background: $seconday-color;
}

.p-slider:not(.p-disabled) .p-slider-handle:hover {
  background: $seconday-color-hover;
  border-color: $seconday-color-hover;
}

.p-togglebutton.p-button.p-highlight {
  background: $seconday-color;
  border-color: $seconday-color;
}

.p-togglebutton.p-button.p-highlight:hover {
  background: #0b4558;
  border-color: #0b4558;
}

.p-treeselect:not(.p-disabled):hover {
  border-color: $seconday-color-hover;
}

.p-treeselect:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: $seconday-color;
}

.p-button {
  background: $seconday-color;
  border: 1px solid $seconday-color;
}

.p-button:enabled:hover {
  background: #0b4558;
  border-color: #0b4558;
}

.p-button:enabled:active {
  background: #115870;
  border-color: #115870;
}

.p-button.p-button-outlined {
  color: $seconday-color;
}

.p-button.p-button-outlined:enabled:hover {
  background: rgba(33, 150, 243, 0.04);
}

.p-button.p-button-outlined:enabled:active {
  background: rgba(33, 150, 243, 0.16);
}

.p-button.p-button-text {
  color: $seconday-color;
}

.p-button.p-button-text:enabled:hover {
  background: rgba(33, 150, 243, 0.04);
}

.p-button.p-button-text:enabled:active {
  background: rgba(33, 150, 243, 0.16);
}

.p-button.p-button-secondary.p-button-outlined {
  color: $seconday-color;
}

.p-rating .p-rating-icon.pi-star {
  color: $seconday-color;
}

.p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
  color: $seconday-color-hover;
}

.p-selectbutton .p-button.p-highlight {
  background: #073545;
  border-color: $seconday-color;
}

.p-selectbutton .p-button.p-highlight:hover {
  background: #0b4558;
  border-color: #0b4558;
}

.p-slider.p-slider-checked .p-slider-slider {
  background: $seconday-color;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: $seconday-color;
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
  background: $seconday-color;
}

/* Asegúrate de que el menú desplegable se ajuste al borde derecho de la pantalla */
.p-menubar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f5f5f5;
}

.p-menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.p-menubar ul li {
  position: relative;
}

.p-menubar ul li a {
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.p-menubar ul li a:hover {
  background-color: #ddd;
}

.p-menubar ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; /* Alinea el menú desplegable al borde derecho */
  background-color: #fff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 1000;
}

.p-menubar ul li:hover ul {
  display: block;
}

.p-menubar ul li ul li {
  width: 100%;
}

.p-menubar ul li ul li a {
  padding: 10px 15px;
  text-align: right; /* Alinea el texto a la derecha */
}

.w50-multiselect .p-multiselect {
  width: 50rem;
}