<div class="product-page" *ngIf="product">
  <div class="image-section">
      <img [src]="product.image" [alt]="product.name">
  </div>
  <div class="details-section">
      <h1><strong>{{ product.name }}</strong></h1>
      <span class="price">{{ convertPrice(product.price) }}</span>

      <form class="product-options">
        <div *ngIf="product.category.categoryId == 4 || product.category.categoryId == 8">
          <label for="size">Talla</label>
          <select id="size" name="size">
            <option value="">Escoge una opción</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
        </div>

          <div class="quantity">
              <input type="number" value="1" min="1">
          </div>

          <button type="button" class="add-to-cart" (click)="addToCart()">Añadir al carrito</button>
      </form>

      <div class="description">
          <h2>Descripción</h2>
          <p>{{ product.description }}</p>
      </div>

      <div class="additional-info">
          <h2>Información Adicional</h2>
          <p>Categoría: {{ product.category.name }}</p>
          <p *ngIf="product.created_at">Creado el: {{ product.created_at | date: 'dd/MM/yyyy' }}</p>
          <p *ngIf="product.updated_at">Última actualización: {{ product.updated_at | date: 'dd/MM/yyyy' }}</p>
      </div>

  </div>
</div>
<p-toast/>