<div class="header-container" *ngIf="noPageable">
  <h2 class="category-title">{{ "body.priceTitle.product" | translate }}{{ convertPrice(min) }}{{ "body.priceTitle.and" | translate }}{{ convertPrice(max) }}</h2>
</div>

<div class="cards-container" *ngIf="products.length > 0 else elseBlock">
  <div 
    class="card" 
    *ngFor="let product of products" 
    [routerLink]="['/product', product.productId]" 
    style="cursor: pointer;"
  >
    <ng-container *ngIf="product.image">
      <img [src]="product.image" alt="Product Image" class="card__image" />
    </ng-container>
    <div class="card__content">
      <p class="card__title">{{ product.name }}</p>
      <p class="card__description">{{ product.description | truncate }}</p>
      <p class="card__price">{{ convertPrice(product.price) }}</p>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <h1 class="no-products-title">{{ "body.noProducts" | translate }}</h1>
</ng-template>

<div class="d-flex align-items-center mb-3" *ngIf="!noPageable && products.length > 0">
  <h5 style="font-size: 18px; margin-right: 15px">
      {{ "body.page" | translate
      }}{{ page + 1 + "/" + pageProducts.totalPages }}
  </h5>
  <p-paginator
      (onPageChange)="onPageChange($any($event))"
      [first]="first"
      [rows]="rows"
      [pageLinkSize]="5"
      [totalRecords]="pageProducts.totalElements"
      [rowsPerPageOptions]="[12, 24, 30]"
      [showFirstLastIcon]="true"
      [dropdownAppendTo]="'body'"
  ></p-paginator>
</div>