<header>
  <div class="main-bar">
    <div class="logo">
      <a href="/catalog">
        <img src="../../../assets/img/logo3.jpg" alt="payment-methods">
      </a>
    </div>

    <div class="search-inputs">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="{{ 'HEADER.SEARCH_PLACEHOLDER' | translate }}" [(ngModel)]="searchTerm" (ngModelChange)="onSearch(searchTerm)" />
      </p-iconField>
    </div>
    <div class="user-actions">
      <div class="action">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <i class="pi pi-bars text-2xl"></i>
          <span>{{ 'HEADER.MENU' | translate }}</span>
        </button>
      </div>
      <div class="action">
        <i class="pi pi-shopping-cart text-2xl"></i>
        <span>{{ 'HEADER.CHECKOUT' | translate }}</span>
      </div>
      <div class="action">
        <a [routerLink]="['/profile']" [ngStyle]="{'text-decoration': 'none', 'color': 'white'}">
          <i class="pi pi-user text-2xl"></i>
          <span>{{ 'HEADER.MY_ACCOUNT' | translate }}</span>
        </a>
      </div>
      <div class="dropdown" (click)="toggleDropdown()">
        <button class="dropdown-button">
          <img [src]="'assets/flags/' + selectedLanguage.code + '.png'" class="flag-icon" id="current-flag" />
          <span id="current-language">{{ selectedLanguage.name }}</span>
        </button>
        <div class="dropdown-content" [ngClass]="{'show': dropdownOpen}">
          <a href="#" *ngFor="let language of languages" (click)="selectLanguage(language)">
            <img [src]="'assets/flags/' + language.code + '.png'" class="flag-icon" /> {{ language.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Rider Essentials</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/catalog'" href="catalog">{{ 'HEADER.CATALOG' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/profile'" href="profile">{{ 'HEADER.PROFILE' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="'/cart'" href="cart">{{ 'HEADER.CART' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>