<div class="filter-body">
  <form>
    <div class="card flex justify-content-center">
      <div class="card-conteiner">
        <div class="card-content">
          <div class="card-title">Price <span>Range</span></div>
          <div class="values">
            <div><span>{{ convertPrice(minPrice) }}</span></div> -
            <div><span>{{ convertPrice(maxPrice) }}</span></div>
          </div>
          <div class="slider">
            <label class="label-min-value">{{ convertPrice(1) }}</label>
            <label class="label-max-value">{{ convertPrice(5000) }}</label>
          </div>
          <div class="rangeslider">
            <input class="min input-ranges" name="range_1" type="range" min="1" max="5000" [(ngModel)]="minPrice"
              [value]="minPrice">
            <input class="max input-ranges" name="range_2" type="range" min="1" max="5000" [(ngModel)]="maxPrice"
              [value]="maxPrice">
          </div>
          <button type="submit" (click)="searchWithPrice()" >Filtrar</button>
        </div>
      </div>
    </div>
  </form>
  <br>
  <div class="card flex justify-content-center">
    <div class="card-conteiner">
      <div class="card-content">
        <div class="card-title">Categories</div>

        <div class="dropdown" (click)="toggleDropdown()">
          <button class="dropdown-button">
            <span id="current-category">{{ selectedCategory?.name || 'All Categories' }}</span>
          </button>
          <div class="dropdown-content" [ngClass]="{'show': dropdownOpen}">
            <a href="#" *ngFor="let category of allCategories" (click)="selectCategory(category)">
              {{ category.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>