/* currency-selector.component.css */
.currency-selector {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.467);
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  color: white;
  font-size: 20px;
}

.button:hover {
  border-radius: 50px;
  background-color: rgb(255, 89, 89);
  align-items: center;
}

.button:hover .currency-code {
  transform: translateY(-200%);
}

/* Modal Styles */
.modal {
  display: block;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.modal-content {
  background-color: #000;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #444;
  transition: background-color 0.3s ease;
}

.modal-content li:hover,
.modal-content li.selected {
  background-color: rgb(255, 89, 89);
  color: #fff;
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: rgb(255, 89, 89);
}