<div class="catalog-container">
  <app-filter-body [categories]="categories" (getNextPage)="getProductsByCategory($event)" (searchWithFilter)="getProductsByFilter($event)" class="filter-body" *ngIf="isDesktopView"></app-filter-body>
  <app-body-list-category *ngIf="categoryCatalog && !loading" [products]="productsByCategory" ></app-body-list-category>
  <app-body-list *ngIf="!categoryCatalog && !loading" [pageProducts]="products" [noPageable]="noPageable" [min]="min" [max]="max" (getNextPage)="getNextPage($event)" class="body-list" ></app-body-list>

  <div *ngIf="loading" class="spinner-container">
    <div class="loader">
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      <div class="loader-square"></div>
      </div>
  </div>
</div>