<footer class="footer">
    <div class="footer-section">
        <h3>AYUDA</h3>
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">A propósito</a></li>
            <li><a href="#">Afiliato</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>PÁGINAS IMPORTANTES</h3>
        <ul>
            <li><a href="#">1. Condiciones generales de venta</a></li>
            <li><a href="#">2. Información jurídica</a></li>
            <li><a href="#">3. Política de privacidad</a></li>
            <li><a href="#">4. Politica de entrega</a></li>
            <li><a href="#">5. Políticas de devoluciones y reembolsos</a></li>
            <li><a href="#">6. Cláusula de no responsabilidad</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>INFORMATIONS</h3>
        <p>
            Si tiene alguna pregunta o sugerencia, póngase en contacto con nosotros y
            le responderemos en un plazo de 24 horas, de lunes a viernes entre las
            9.00 y las 17.00 horas.
        </p>
        <p>Contacto: contact&#64;rider-essentials.com</p>
        <p>Adresse du siège social: Garay utca 45 1. em. 120. ajtó, Budapest 1076, Hongrie</p>
        
    </div>
    <div class="social-network">
        <div class="social-media">
            <a href="#"><i class="fab fa-tiktok"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="payment-methods">
        <div class="name-copy">
            <p>&copy; Rider Essentials</p>
        </div>
        <div>
            <img src="../../../assets/img/payments.png" alt="payment-methods">
        </div>
    </div>
</footer>