@import '../body-list/body-list.component.scss';

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.list-title {
  font-size: 1.25rem;
  font-weight: 700;
}
