<div class="header-container">
  <h2 class="category-title">{{ "body.category.category" | translate }}{{ "body.category." + products[0].category.name.trim() | translate }}</h2>
</div>

<div class="cards-container">
  <div 
    class="card" 
    *ngFor="let product of products" 
    [routerLink]="['/product', product.productId]" 
    style="cursor: pointer;"
  >
    <ng-container *ngIf="product.image">
      <img [src]="product.image" alt="Product Image" class="card__image" />
    </ng-container>
    <div class="card__content">
      <p class="card__title">{{ product.name }}</p>
      <p class="card__description">{{ product.description }}</p>
      <p class="card__price">{{ convertPrice(product.price) }}</p>
    </div>
  </div>
</div>